.headercomponent{
    background-color: rgb(31, 30, 30);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headercomponent .log{
    font-size: 20px;
}

.headercomponent ul{
    display: flex;
    gap: 10px;

}

.headercomponent ul li{
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}

.headercomponent ul li a{
    text-decoration: none;
    color: azure;
}

.log{
    color: azure;
}

.all{
    color: azure;
}